*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5AA9E6;
}
.random-quotes{
    display: flex;
    height: 100vh;
}

nav{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: rgb(180, 220, 255);
    padding: 20px;
    
}

.links li{
    display: inline;

}

i{
    color: #f9f9f9;
    font-size: 50px;
}
h3{
    color: #f9f9f9;
    display: inline;
    font-size: 1.5em;

}

.container{
    
    padding: 40px;
    margin: auto;
    max-width: 800px;
    background-color: #7fc8f8;
    text-align: center;
    
}
#btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #f9f9f9;
    background-color: #FF6392;
    border: 2px solid #f9f9f9;
    height: 40px;
    width: 150px;
    margin-bottom: 20px ;
    transition: 0.5s;
}
#btn:hover{
    background-color: transparent;
    
}
p{
    font-weight: bold;
    font-size: 1.2em;
    text-align: right;
    color: #FF6392;
}

.search-container{
    
    width: 100%;
    display: flex;
    flex-direction: column;
}

.search-content{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #5AA9E6;
    width: 100%;

}

 .search-options{
    margin-left: 10px;
     padding: 15px;
     background-color: #7fc8f8;
     border-radius: 5px;
     height: 200px;
     display: flex;
     flex-direction: column;
 }

 .quotes-container{
      
     background-color: #5AA9E6;
     
     width: 80%;
 }

 .quotes-container div{
    margin-right: 10px;
    
    padding: 10px;
    border-radius: 5px;
    background-color: #7fc8f8;
    margin-bottom: 20px;
 }

 .search{

     display: flex;
     justify-content: center;
     

 }
 .search input{
    width: 70%;
 }

 .search button{
     background-color: #FF6392;
 }

 .search i {
    font-size:  40px;
    padding: 5px;
    color: white;
    
 }

 .hamburger{
     display: none;
     margin-top: 5px;
     margin-left: 10px;
 }

 .hamburger span{
     display: block;
     width: 35px;
     height: 5px;
     border-radius: 13%;
     background-color: white;
     
 }

 .hamburger span:not(:last-of-type){
     margin-bottom: 8px;
 }

 .quotes-container h4{
    color: #f9f9f9;
    display: inline;
    font-size: 1.2em;

 }
 .quotes-container i{
     padding-right: 3px;
     font-size: 1.1em;
 }


@media only screen and (max-width: 1300px){
    .quotes-container{
        margin-left: 10px;
    }

}

 @media only screen and (max-width: 700px) {
    .search-options{
        position: absolute;
        display: flex;
        height: 100vh;
        width: 180px;
        left: 0;
        background-color: #5AA9E6;
        transform: translateX(-180px);
        
    }

    .search-options.show{
        transform: translateX(0px);
        transition: 0.5s;
    }

    h3{
        font-size: 1.1em;
    }

    p{
        font-size: 0.9em;
    }
    .search i {
        font-size:  30px;
        
     }

     .search input{
        width: 60%;
     }

     .hamburger{
        position: relative;
         display: block;
         
     }

     .hamburger span:nth-of-type(1), span:nth-of-type(3) {
        transition: 0.5s;
     }

     .hamburger.show span:nth-of-type(1){
        position: absolute;
        top: 13px;
        transform: rotate(-45deg);
         
         
     }

     .hamburger.show span:nth-of-type(2) {


        visibility: hidden;
         

     }

     .hamburger.show span:nth-of-type(3){
        position: absolute;
        
        transform: rotate(45deg);
    }
     
  }